In [1]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [2]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [3]:
for s in range(1,20):
    print(s)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for q in range(1,100,5):
    print(q)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [5]:
for w in range(1,20,2):
    print(w)

1
3
5
7
9
11
13
15
17
19

#  print the 10 number

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i  in range(1,100,10):
    print(i)

1
11
21
31
41
51
61
71
81
91

# 5 table

In [8]:
for i in range(5,50,5):
    print(i)

5
10
15
20
25
30
35
40
45

In [9]:
num = 5
for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
num=int(input("Enter a number :"))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

In [ ]:
a="Nalini"
b="Yashada"
for i in a,b:
    print(i)

In [ ]:
a="Nalini"
for i in a:
    print(i)

In [ ]:
a="YashadaNalini"
for i in a:
    for j in i:
        print(i)

In [ ]:
a="NaliniKamble"
for i in a:
    for j in i:
        a=10
        b=20
        c=a+b
        print(c)
        
        for k in j:
            print(k)

In [ ]:
a="RacksonsIT"
for i in a:
    print(a[9],a[3])
    for j in i:
        print(a[0],a[9])
        print(j)

In [ ]:
Name = ['Nalini', 'Yashada', 'Divya']

for i in range(len(Name)):
    
    a=input("Enter a nick Name :")
    print("Name is", Name[i])
    print("Nick Name",a)

# Start Pattern

In [ ]:
n = int(input("Enter the number of rows :"))  
for i in range(0, n):    
        for j in range(0, i + 1):  
            print("* ", end="")       
        print()

In [ ]:
rows = int(input("Enter the number of rows"))  
for i in range(rows + 1, 0, -1):    
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

In [ ]:
n = 10  
for i in range(0, 10):    
        for j in range(0, i + 1):  
            print("* ", end="")       
        print()

# Number Pattern

In [ ]:
rows = int(input("Enter the number of rows: "))  

for i in range(rows+1):  
    
    for j in range(i):  
        print(i, end=" ")    
    print(" ")

In [ ]:
a = int(input("Enter the number of rows: "))  
for i in range(1, a+1):  
    for j in range(1, i + 1):  
        print(j, end=' ')  
    print("")

In [ ]:
rows = int(input("Enter the number of rows:"))  
a = 0  
for i in range(rows, 0, -1):  
    a += 1  
    for j in range(1, i + 1):  
        print(a, end=' ')  
    print()

In [ ]:
start = 1  
stop = 2  
rows = 3 
  
for i in range(rows):  
    for j in range(1, stop):  
        print(start, end=' ')  
        start += 1  
    print("")  
    stop += 2

In [ ]:
str1 = "NaliniYashada"  
x = ""  
for i in str1:  
    x += i  
    print(x)

In [ ]:

s = 'Year is '

y = 2018

print(s + str(y))

In [ ]:
# Name=input("Enter the Name: ")
N="Nalini"
Age= 22
for i in N:
    print(i+str(Age))

In [ ]:
a = "Hello, I am in grade "
b = 1
print(a, b, sep="")

In [ ]:
string = 'Nalini'
for i in range(11):
    string +=str(i)
    print(string)

In [ ]:
string = 'Nalini'
for i in range(5):
    string += str(i)
    print(string)

In [ ]:
string = 'Nalini'
for i in range(1):
    string += str(i)
    print(string)

In [ ]:
string = 'Nalini'
age=23
for i in range(1):
    string += str(age)
    print(string)

In [ ]:
for num in range(10,14):
    for i in range(2,num):
        if num%i== 1:
            print(num)
            break

In [ ]:
var =10
for i in range(10):
    for j in range(2,10,1):
        if var %2 ==0:
            continue
            var += 1
    var +=1
else:
    var +=1
print(var)

# Assignment

In [ ]:
str="Nalini"
for i in str:
    print(i)

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
n=5
for i in list:
    c=n*i
    print(c)

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
    sum=sum+i
print("The sum is",sum)

In [ ]:
for i in range(10):
    print(i,end = ' ')

In [ ]:
n=int(input("Enter the number"))
for i in range(1,11):
    c=n*i
    print(n,"*",i,"=",c)

In [ ]:
n=int(input("Enter the number"))
for i in range(2,n,2):
    print(i)

In [ ]:
list=['Nalini','Yashada','Divya','Nikita','Purva','Prachi','gauri']
for i in range(len(list)):
    print("Hello",list[i])
    print("Welcome to RacksonsIT")

In [ ]:
rows=int(input("Enter the rows :"))
for i in range(0,rows+1):
    for j in range(i):
        print(" * ",end=" ")
    print()

In [ ]:
rows=int(input("Enter the rows : "))
for i in range(0,rows+1):
    for j in range(i):
        print(i,end=" ")
    print()

In [ ]:
for i in range(0,5):
    print(i)
else:
    print("For loop complete")

In [ ]:
for i in range(0,5):
    print(i)
    break;
else:
    print("For Loop is exit ")
print("The loop in broken continue to loop")

In [ ]:
num=[1,2,3,4,5]
sq=0
for val in num:
    sq=val*val
    print(sq)

In [ ]:
sum=0
for val in range(1,6):
    sum=sum+val
print(sum)

In [ ]:
sum=0 
for i in range(1,10):
    sum=sum+i
print(sum)

In [ ]:
for i in range(6):
    print(i)
else:
    print("Exit loop")

In [ ]:
for i in range(3):
    for j in range(10,14):
        print(i,",",j)

In [ ]:
word="Jupyter"
for letter in word:
    print(letter)

In [ ]:
words=['Keyboard','Mouse','harddisk','CPU','Monitor']
for word in words:
    print(word)

In [ ]:
nums = (1, 2, 3, 4, 5)
 
sum = 0
 
for num in nums:
    sum = sum + num

print(f'Sum of numbers is {sum}')

In [ ]:
words= ["Computer", "Software", "Hardware", "Operating System" ]
for word in words:
       
        print ("The following lines will print each letters of "+word)
        for letter in word:
              
                print (letter)
        print("")

In [ ]:
for i in range(3):
    print("print",i)

In [ ]:
for i in range(1,10,3):
    print("print",i)